body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  align-items: center;
  justify-content: center;
  background-color: #f2acf8;
}

header {
  background: url("https://www.misgeret.co.il/Pics/oritgagnif/451782-1537-13-08-23-PR.jpg.webp")
    center/cover no-repeat;
  padding: 10px;

  margin-right: 20px;
  justify-content: space-around;
  padding: 20px 0;
}

h1 {
  color: rgb(221, 137, 189);
  font-size: 40px;
  padding-top: 5px;
  padding-bottom: 15px;
  padding-left: 20px;
  text-align: left;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 9); /* Adjust shadow properties as needed */
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav li {
  display: inline;
  margin-right: 100px;
}

nav a {
  text-decoration: none;
  color: rgb(218, 212, 202);
  font-weight: bold;
  font-size: larger;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 9); /* Adjust shadow properties as needed */
}

.flex-container1 {
  border: 1px solid #ddd;
  border-radius: 15px;
  margin: 20px;
  padding: 20px;
  background-color: #8aac98;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  align-items: center;
  overflow: hidden; /* Clear the float */
}
.flex-container2 {
  border: 1px solid #ddd;
  border-radius: 15px;
  margin: 20px;
  padding: 20px;
  background-color: #9d71a3;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  overflow: hidden; /* Clear the float */
}
.flex-container3 {
  border: 1px solid #ddd;
  border-radius: 15px;
  text-align: left;
  margin: 20px;
  padding: 20px;
  background-color: #9ece45;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  overflow: hidden; /* Clear the float */
}

h2 {
  text-align: center;
  text-shadow: 2px 2px 2px rgb(228, 155, 212); /* Adjust shadow properties as needed */
  font-weight: bolder;
  color: #8a2579;
}
.flex-container1:hover {
  transform: translateY(-5px);
}
.flex-container2:hover {
  transform: translateY(-5px);
}
.flex-container3:hover {
  transform: translateY(-5px);
}

.section-image {
  max-width: 259px; /* Set a fixed width for the image */
  height: auto;
  border-radius: 15px;
  margin-right: 15px; /* Add margin for spacing */
  float: left; /* Float the image to the left */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

p {
  color: #333;
  line-height: 1.6;
  margin: 0; /* Remove default margin for better spacing */
}

.cards-section {
  background-color: rgb(214, 186, 186);
  padding: 40px;
  text-align: center;
}

.card {
  box-shadow: 8px 8px 16px #1b12171a;
  width: 200px;
  height: 320px;
  margin: 5px;
  display: inline-block;
  background-color: #e6b6ec;
  border: 1px solid #cfb4d1;
  border-radius: 8px;
  overflow: hidden;
  font-size: small;
  text-align: center;
}
h3 {
  color: rgb(27, 27, 90);
  margin: 2px;
}

.card-image {
  width: 200px;
  height: 150px;
  object-fit: cover;
}

footer {
  background-color: rgb(128, 93, 160);
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2vfZW1wMf5AW99ylTPYwTeEJyGnOIDcs10A&usqp=CAU")
    center/cover no-repeat;
  padding: 30px;
  text-align: center;
  color: rgb(31, 31, 66);
}

footer a {
  text-decoration: none;
  color: rgb(199, 63, 188);
  font-weight: bold;
  font-size: larger;
  padding: 10px;
}
footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: inline;
}

footer li {
  display: inline;
  margin-right: 20px;
  justify-content: space-around;
  padding: 20px 0;
}
